$hexagon-width: 220px;
$hexagon-height: $hexagon-width*.55;
$hexagon-margin: 24px;
$hexagon-title-color: #fff;
$hexagon-border-color: #fff;
$hexagon-border-color--hover: goldenrod;
$hexagon-image-color: black;
$honeycomb-max-width: 1080px;
$viewport-thereshold: $hexagon-width + $hexagon-margin;

// .skill-container {
//     display: flex;
//     justify-content: center;
// }

// .skill {
//     background: lightblue;
//     height: 240px;
//     width: 180px;
//     border: 2px gray dashed;
//     border-radius: 8px;
//     margin: 2rem;
// }


.honeycomb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    max-width: $honeycomb-max-width;
    margin: 0 auto;
    padding: 0;
  //   transform: translateY(#{$hexagon-height/4});
  
    &-cell {
      flex: 0 1 $hexagon-width;
      max-width: $hexagon-width;
      height: $hexagon-height;
      margin: $hexagon-height/2.1 $hexagon-margin/2 $hexagon-margin;
      position: relative;
      padding: 0.5em;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items:center;
      cursor: pointer;

      &__title {
        color: white;
      }

      &__description {
        color: white;
      }
  
      &__image {
        object-fit: cover;
        object-position: center;
      }
      
      &::before, &::after {
        content: '';
      }
  
      &::before, &::after, &__image {
        top: -50%;
        left: 0;
  
        width: 100%;
        height: 200%;
        display: block;
        position: absolute;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        z-index: -1;
      }
  
      &::before {
        background: $hexagon-border-color;
        transform: scale(1.055);
      }
  
      &::after {
        background: $hexagon-image-color;
        opacity: 0.5;
        transition: opacity 350ms;
      }
  
      &:not(.honeycomb-cell--dormant):hover {
        
        .honeycomb-cell__content {
          opacity: 0;
        }
        
        &::before {
          background: $hexagon-border-color--hover;
        }
  
        &::after {
          opacity: 0;
        }
      }

      &--dormant {

        color: white;

        &::before {
            background: none;
        }

        &::after {
            background: black;
        }

        
        &:hover {
          &::before {
            background: black;
        }

        &::after {
            background: gray;
        }
        }
      }
    }
  
  }