//linking dependencies
@use '../styles/variable' as *;

.userSummary {
    border-right: 1px solid $primary-red;
    padding: 0 1rem;
    flex: 1;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-titles {
    width: 100%;
    background-color: white;
    height: 3rem;
    margin-top: 3rem;
    border: gray 3px solid;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-transform: uppercase;
}

.accomplishment {
    height: 2rem;
    background: goldenrod;
    border: orange 2px solid;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}