.learn {
    background-color: salmon;
    height: calc(100vh - 5rem);
    width: 100vw;

    &__controls {
        position: relative;
        width: 100%;
    }

    &__note {
        position: relative;
    }
}

.panel-content {
    background-color: white;
}

.icon-action {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;

    &--second {
        top: 6rem;
        width: 50px;
        height: 50px;
    }
}