.main-learn {
    flex-grow: 1;
    background-image: none;

    &__title {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}

.content {
    display: flex;
    justify-content: space-between;
}