.main-learn {
    flex: 1;

    &__title {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    border: 2px goldenrod solid;
}