// linking dependencies
@use '../styles/variable' as *;

.skillSummary {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-container {
    display: flex;
    justify-content: space-between;
    width: 854px;
}

.main-skill {

    margin-bottom: 2rem;

    &__image {
        height: 320px;
        object-fit: cover;
    }

    &--dummy {
        height: 320px;
        width: 854px;
        background-color: $gray-light;
        border-radius: 14px;
        border: dashed black 3px;
        box-sizing: border-box;
    }
}

.other-skills {

    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    p {
        margin: 0;
    }

    &__image {
        object-fit: cover;
        width: 240px;
    }
}

.dummy-skill {
    height: 300px;
    width: 240px;
    background-color: $gray-light;
    border-radius: 14px;
    border: dashed black 3px;
    box-sizing: border-box;
}