//linking dependencies
@use './variable' as *;
// @use './typography' as *;

//tablet rules
@mixin tablet {
    @media (min-width: $tablet-breakpoint){
        @content;
    }
}

//desktop rules
@mixin desktop {
    @media (min-width: $desktop-breakpoint){
        @content;
    }
}

//content width vw
@mixin maximum-content-width {
    width: 90vw;

    @include tablet {
        width: 93.75vw;
    }

    @include desktop {
        width: 1080px;
    }
}

//background color transition
@mixin background-transition {
    transition: background-color 0.5s linear;
        
    &:hover {
        background-color: $primary-red;
    }
}


@mixin text-input-style {
    width: 320px;
    box-sizing: border-box;
    height: 3rem;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    background-color: rgba(0,0,0, 0.05);
    &:focus {
        border: 1px $primary-red solid;
    }
}

@mixin input-field-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

@mixin form-button {
    width: 320px;
    height: 2rem;
    border-radius: 1rem;
    text-transform: uppercase;
    background-color: gray;
    color: white;
    border: none;
    outline: none;

    @include background-transition;
}