//linking dependencies
@use './variable' as *;
// @use './typography' as *;

//tablet rules
@mixin tablet {
    @media (min-width: $tablet-breakpoint){
        @content;
    }
}

//desktop rules
@mixin desktop {
    @media (min-width: $desktop-breakpoint){
        @content;
    }
}

//content width vw
@mixin maximum-content-width {
    width: 90vw;

    @include tablet {
        width: 93.75vw;
    }

    @include desktop {
        width: 1080px;
    }
}

//background color transition
@mixin background-transition {
    transition: background-color 0.5s linear;
        
    &:hover {
        background-color: $dark-red;
    }
}
