//mobile breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
//colors
//black
//gray
//red
//orange
$primary-red: #860F0F;

.color-palette{
    // option 1
    background: #860F0F;
    background: #E8E8E8;
    background: #848484;
    background: #434343;
    background: #000000;

    // option 2
    color: #B8B8B8;
    color: #7B0100;
    color: #101010;
    color: #424242;
    color: #585858;
}