.video-player {
    height: 70vh;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
        background-color: salmon;
    }
}
