//linking dependencies
@use '../../styles/mixin' as *;
@use '../../styles/variable' as *;

.main {
    margin: 0 auto;
    @include maximum-content-width;
    height: 100%;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__row {
        flex-grow: 1;
        display: flex;
        border-bottom: 1px gray solid;
        align-items: center;
        padding: 3rem;

        &--middle {
            justify-content: flex-end;
        }

        &--final {
            justify-content: center;
        }
    }
}

.btn-fire {
    height: 3rem;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    @include background-transition;
}

.icon-join {
    margin-left: 0.8rem;
    height: 2rem;
    fill: white;
}

.home-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}