//linking dependencies
@use '../../styles/mixin' as *;
@use '../../styles/variable' as *;

.main {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: gray;
    background-image: url('../../../assets/images/forging.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 5rem);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__row {
        flex-grow: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
        border-bottom: 1px solid gray;

        &--first {
            align-items: flex-start;
            text-align: left;
            justify-content: center;
            height: 100%;
        }

        &--middle {
            flex-direction: column;
        }

        &--final {
            justify-content: center;
        }
    }
}

.btn-fire {
    height: 3rem;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    outline: none;

    @include background-transition;
}

.icon-join {
    margin-left: 0.8rem;
    height: 2rem;
    fill: white;
}

.home-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon-home {
    height: 100px;
    width: 100px;

    &--sub{
        height: 3rem;
        width: 3rem;
    }
}

.guide-tray {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__sub {
        display: flex;
        align-items: center;
    }
}

.highlight {
    text-decoration: underline;
    text-transform: uppercase;
    color: $primary-red;
}

.user-name {
    color: white;
}